<form [formGroup]="contenForm" class="contend">
  <button routerLink="/home/login" class="buton">
    <img src="../../../../assets/Chevron Left.png" alt="left" />
  </button>
  <div class="contend-title">
    <h1 class="title">{{this.codeding?'Codigo':'Cambiar Contraceña'}}</h1>
  </div>
  <div class="hr"></div>
  <div *ngIf="this.codeding==true">

  </div>
  <div *ngIf="this.codeding==false" class="contend-form">
    <h2>Buscar Personal</h2>
    <input (click)="codingSend('')" type="email" formControlName="email" />
    <div *ngIf="this.code == false"  >
      <div  *ngFor="let user of this.users" (click)="codingSend(user._email)">
        <h5>{{ user._name }}</h5>
        <p>{{ user._email }}</p>
      </div>
    </div>
  </div>
  <div class="contend-buton">
    <button class="buton" (click)="changePassword()">
      <img src="../../../../assets/Sent.png" />
      <label>enviar Codigo</label></button
    ><br />
  </div>
</form>
<div class="alert" *ngIf="this.valida == false">
  <div class="bar"></div>
  <p class="text"></p>
  <button (click)="this.valida = true" class="buton">X</button>
</div>
<footer class="footer-login">
  <label>&copy;2023</label>|<label>PROBULON</label>|<label>España</label>|<label
    >todos los derechos reservados</label
  >
</footer>
