<form [formGroup]="contenForm" class="contend">
  <button routerLink="/home/login" class="buton">
    <img src="../../../../assets/Chevron Left.png" alt="left" />
  </button>
  <div class="contend-title">
    <h1 class="title">Cambiar mi Contraceña</h1>
  </div>
  <div class="hr"></div>
  <div  class="contend-form">
    <h2>Email</h2>
    <input  class="input"  type="email" formControlName="email"  /> 
    <label class="label-error" *ngIf="contenForm.controls['email'].invalid && contenForm.controls['email'].touched &&contenForm.controls['email'].dirty">*Debes de copiar un correo</label>
    
    <div class="contend-buton">
      <button class="buton" [disabled]="this.contenForm.invalid" (click)="recuPassword()">
        <img src="../../../../assets/Search Client.png" alt="search client">
        <label>Recuperar Contraceña</label>
      </button>
    </div>
  </div> 
</form>
<div class="alert" *ngIf="this.valida == false">
  <div class="bar"></div>
  <p class="text"></p>
  <button (click)="this.valida = true" class="buton">X</button>
</div>
<footer class="footer-login">
  <label>&copy;2023</label>|<label>PROBULON</label>|<label>España</label>|<label
    >todos los derechos reservados</label
  >
</footer>
